.DS_Store
node_modules/
*-debug.log
*-error.log
*-lock.json
*-lock.yaml

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Log files
logs/
*.log

# Config files
*-config.json

# Test folder 
test/
